{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <nav id="sponsor_navbar" class="navbar navbar-expand-lg mt-2" >
            <div class="container-fluid">
                <!-- Toggle button -->
                <button data-mdb-collapse-init class="navbar-toggler" type="button" data-mdb-target="#navbarCenteredExample" aria-controls="navbarCenteredExample" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarCenteredExample">
                    <ul class="nav-links">
                        <li><a href="{{ url_for('views.sponsor_dashboard') }}">Dashboard</a></li>
                        <li class="center"><a href="{{ url_for('views.sponsor_profile') }}">Profile</a></li>
                        <li class="upward"><a href="{{ url_for('views.sponsor_campaigns') }}">Campaigns</a></li>
                        <li class="forward"><a href="{{ url_for('views.sponsor_stats') }}">Stats</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-6">
            <h1>All Campaigns</h1>
        </div>
        <div class="col-md-6 text-right">
            <span><button class="grey-btn" data-bs-toggle="modal" data-bs-target="#createCampaignModal">Create Campaign</button></span>
            <form action="{{ url_for('views.sponsor_campaigns') }}" class="search" method="post">
                <input name="campaign_filter" placeholder="Search..." type="text">
                <button type="submit">Go</button>
            </form>
        </div>
    </div>
    <hr>
    <br>
    <div>
        {% if noflag_campaigns|length == 0 and flag_campaigns|length == 0 %}
            <p><em>No campaigns to display</em></p>
            <br>
        {% else %}
        {% if noflag_campaigns|length != 0 %}
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for campaign in noflag_campaigns %}
                <div class="col">
                    <a href="{{ url_for('views.campaign_details', campaign_id=campaign.id) }}">
                        <div class="campaign-card">
                            <div>
                                <h3><strong>{{ campaign.name }}</strong></h3>
                                <p>{{ campaign.description }}</p>

                                <p class="text-muted">Click to view details and ad requests.</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <br>
        {% endif %}

        {% if flag_campaigns|length != 0 %}
        <hr>
        <h3>Flagged Campaigns</h3>
        <br>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for campaign in flag_campaigns %}
                <div class="col">
                    <a href="{{ url_for('views.campaign_details', campaign_id=campaign.id) }}">
                        <div class="campaign-card" style="background: rgba(162, 83, 97, 0.262);">
                            <div>
                                <h3><strong>{{ campaign.name }}</strong></h3>
                                <p>{{ campaign.description }}</p>

                                <p class="text-muted">Click to view details</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endif %}
        <br>
    </div>
    <!-- Modals for Campaign Management -->
    <div class="modal fade" id="createCampaignModal" tabindex="-1" aria-labelledby="createCampaignModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createCampaignModalLabel">Create New Campaign</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form name="createCampaign" action="{{ url_for('views.create_campaign') }}" method="post">
                        <div class="mb-3">
                            <label for="name" class="form-label">Campaign Name</label>
                            <input type="text" class="form-control" name="name" id="name" required>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea type="text" placeholder="(Less than 50 words)" class="form-control" name="description" id="description" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="startDate" class="form-label">Start Date</label>
                            <input type="date" class="form-control" name="startDate" id="startDate" required>
                        </div>
                        <div class="mb-3">
                            <label for="endDate" class="form-label">End Date</label>
                            <input type="date" class="form-control" name="endDate" id="endDate" required>
                        </div>
                        <div class="mb-3">
                            <label for="budget" class="form-label">Budget</label>
                            <input type="number" class="form-control" name="budget" id="budget" required>
                        </div>
                        <div class="mb-3">
                            <label for="visibility" class="form-label">Visibility</label>
                            <select class="form-select" name="visibility" id="visibility" required>
                                <option value="Public">Public</option>
                                <option value="Private">Private</option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>  
</div>
{% endblock %}