{% extends "base.html" %}

{% block title %}Home{% endblock %}


{% block content %}
<div class="jumbotron mt-5">
    <div class="container">
      <h1 class="display-3">Welcome!</h1>
      <p>This is a project for Modern Application Development I(MAD 1)</p>
    </div>
</div>
<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-md-4 ms-auto">
      <h2><u>Sponsors</u></h2>
      <p>Connect with Top Influencers Today 
        <ul>
            <li>Amplify Your Reach </li>
            <li>Boost Your Brand Visibility</li>
        </ul>
      </p>
      <p>Create and manage different campaigns...</p>
    </div>

    <div class="col-md-4">
      <h2><u>Influencers</u></h2>
      <p>Connect with Top Brands Today 
        <ul>
          <li>Monetize Your Influence </li>
          <li>Turn Followers into Fortune</li>
        </ul>
      </p>
    </div>
  </div>
  <hr>
</div>
{% endblock %}
