{% extends 'base.html' %}

{% block title %}View Influencers{% endblock %}

{% block content %}


<div class="container-fluid" >
    <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
        <div>
            <h1 class="fw-bold mb-3">Influencers</h1>
        </div>
        <div class="ms-md-auto py-2 py-md-0">
            <a href="{{ url_for('views.admin_dashboard') }}" class="d-inline btn grey-btn">Dashboard</a>
            <div class="d-inline dropdown">
                <a class="dropdown-toggle btn grey-btn" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                View
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{ url_for('views.view_campaigns') }}">Campaigns</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('views.view_sponsors') }}">Sponsors</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('views.view_influencers') }}">Influencers</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <div class="row content-justify-center">
            <!-- <div class="col-md-3">
                <h1>Search Sponsors</h1>
            </div> -->

            <div class="col-md-10">
                  <form class="row gx-3 gy-2" action="{{ url_for('views.view_influencers') }}" method="post">
                    <div class="col-sm-3">
                        
                        <input type="text" name="name" class="form-control" id="name">
                        <label class="form-label" for="name">Name</label>
                    </div>
                    <div class="col-sm-3">
                        
                        <input type="text" name="reach" class="form-control" id="reach" placeholder="Eg. 2000-4000">
                        <label class="form-label" for="budget">Reach</label>
                    </div>
                    <div class="col-sm-3">
                        <label class="visually-hidden" for="specificSizeSelect">Niche</label>
                        <select class="form-select" id="specificSizeSelect" name="niche">
                            <option value="" disabled selected>Niche</option>
                            {% for inf in influencers %}
                                <option value="{{ inf.niche }}">{{ inf.niche }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <label class="visually-hidden" for="specificSizeSelect">Category</label>
                        <select class="form-select" id="specificSizeSelect" name="category">
                            <option value="" disabled selected>Category</option>
                            {% for inf in influencers %}
                                <option value="{{ inf.category }}">{{ inf.category }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="flagged" value="True" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                Flagged
                            </label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-dark">Filter</button>
                    </div>
                    <div class="col-auto">
                        <a href="{{ url_for('views.view_influencers') }}"><button type="submit" class="btn btn-secondary">Remove filter</button></a>
                    </div>
                </form>
             </div>
        </div>
        <hr>
        <br>
        {% if influencers %}
            {% for inf in influencers %} 
            <div class="accordion accordion-flush" id="admin-view">
                <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ inf.id }}" aria-expanded="false" aria-controls="flush-collapseOne" {% if inf.user.flagged=='True' %}id='flagged'{% endif %}>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <strong><em>{{ inf.name }}</em></strong>
                                </div>
                                <div class="col">
                                  <strong>Niche:</strong> {{ inf.niche }}
                                </div>
                                <div class="col">
                                  <strong>Category:</strong> {{ inf.category }}
                                </div>
                                <div class="col">
                                    <strong>Reach:</strong> {{ inf.reach }}
                                </div>
                            </div>
                        </div>
                        
                    </button>
                </h2>

                <div id="{{ inf.id }}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne">
                    <div class="accordion-body">
                        <strong>All Campaigns:</strong>
                        {% if inf.ad_requests %}
                        <div class="row mt-3">
                            {% for ad in inf.ad_requests %}
                                <div class="col-3 me-3">
                                    <div class="card text-white bg-dark mb-3">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ ad.campaign.name }}</h5>
                                            <p class="card-text">{{ ad.campaign.description }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}    
                        </div>
                        <hr>
                        {% else %}
                            <em>No Campaigns</em>
                        {% endif %}
                        
                        <div class="row justify-content-center">
                            {% if inf.user.flagged != 'True' %}
                                <div class="col-2">
                                    <form action="{{ url_for('views.flag',type='influencer',id=inf.id) }}" method="POST">
                                        <button type="submit" class="btn btn-danger">Flag Influencer</button>
                                    </form>
                                </div>
                            {% else %}
                                <div class="col-2">
                                    <form action="{{ url_for('views.unflag',type='influencer',id=inf.id) }}" method="POST">
                                        <button type="submit" class="btn btn-info">Undo Flag</button>
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                        
                    </div>
                </div>
                </div>
            </div>
            <br>
            {% endfor %}
        {% else %}
            <h4><em>No Influencers</em></h4>
        {% endif %}


    </div>

</div>

{% endblock %}